
BrightSky.xcodeproj/xcuserdata/fudan.xcuserdatad/xcschemes/xcschememanagement.plist
BrightSky.xcodeproj/project.xcworkspace/xcuserdata/fudan.xcuserdatad/UserInterfaceState.xcuserstate
BrightSky.xcodeproj/xcuserdata/fudan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
